target/
**/target/
!/**/target/.gitkeep

*.rs.bk
*.swp
*.tmp
*.log

.idea/
.vscode/
*.code-workspace

.DS_Store
**/.DS_Store

/doc/

/*.profraw

/coverage/
/htmlcov/

/debug.log
/debug/

*.bak
*.old

.env
.env.*

/build/

.husky/

.cargo-binstall/

*.zip
*.tar.gz
*.exe

*.lfs*
